///
/// Stellar by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Basic */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

	// Ensures page width is always >=320px.
		@include breakpoint(xsmall) {
			html, body {
				min-width: 320px;
			}
		}

	body, .body {
		background-color: _palette(bg);
		@include vendor('background-image', (
			'url("../images/overlay.png")',
			'linear-gradient(45deg, #{_palette(bg1)} 15%, #{_palette(bg2) 85%})',
		));

		// Prevents animation/transition "flicker" on page load.
		// Automatically added/removed by js/main.js.
			&.is-loading {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

	}

	.announcementBar{
		box-shadow: 0 -5px 3px #935d8c;
		background-color: _palette(bg);
		@include vendor('background-image', (
						'url("../images/overlay.png")',
						'linear-gradient(45deg, #{_palette(bg)} 15%, #{_palette(bg) 85%})',
		));
	}